
<body class="bg-light">
    <br />
    <h3 class="text-primary">Rural Women: Key to New India’s Agrarian Revolution</h3>
<p>Rural women are torchbearers for social, economic and environment transformation for the ‘New India’. In India, Agriculture employs about 80 percent of rural women. Empowering and mainstreaming rural women workforce in agriculture can bring paradigm shift towards economic growth. It will enhance food and nutrition security and alleviate poverty and hunger. It’s a winwin strategy for achieving Sustainable Development Goals by 2030.</p>
<p>India is celebrating and commemorating the progressive 75 years of India after independence with ‘Azaadi Ka Amrit Mahotsav’ and promulgating mission of warranting women as “Empowered women- Empowered Nation”. India is an agrarian economy with about 54.6 percent of total workforce engaged in agricultural and allied sector activities (Census 2011). Women are extensively engaged in the activities pertaining to agriculture and allied sector. The workforce participation rate for rural females is significantly higher at 41.8 percent against urban women participation rate of 35.31 percent (MoSPI, 2017).</p>
<p>In India, reforms are underlined for holistic development of women, enabling socio-economic and health security. Since Independence, several government flagship schemes and programmes are initiated to improve rural women stature in society by creating livelihood opportunities and engagements in paid employments. Various schemes, such as the Prime Minister’s Employment Generation Program (PMEGP), National Livelihoods Mission, Deen Dayal Upadhayay Grameen Kaushalya Yojana (DDU-GKY), Pradhan Mantri Kaushal Vikas Yojana (PMKVY), Beti Bachao Beti Padhao, Pradhan Mantri Matru Vandana Yojana I (PMMVY), etc. has made significant contributions in creating gender parity and socio-economic empowerment of women in India. Now, rural women have availing access to education, productive resources, capacity building, skill development, healthcare facilities and diversified livelihood opportunities through government beneficiary schemes.</p>
    <h3 class="text-primary">Rural Women Workforce in Agriculture Sector</h3>
<p>
    In rural communities, agriculture and allied
    sector is the primary source of livelihood that
    includes 80 percent of all economically active
    women, out of which 33 percent constitute
    agricultural labour force and 48 percent are selfemployed farmers. Rural women are engaged
    at all levels of agricultural value chain; i.e.,
    production- pre-harvest, post-harvest processing,
    packaging, marketing to increase productivity in
    agriculture. As per Pingali et al. (2019), the ratio of
    women to men working in agricultural sector has
    increased over the time and made greater amount
    of contribution to GDP per capita. They are the
    momentous demographic group for sustainable
    food system (FAO, 2011). It is projected that
    women-oriented reforms, ensuring equal access
    to resources, skill development and opportunities undertaken by Ministry of Agriculture and Farmers
    welfare (Ministry of Agriculture and Farmers
    Welfare, 2021).
</p>
</body>
