
<style>
    ul{
        display:flex;
        flex-direction:column;
    }
</style>

<body style="padding:20px;background-color:aliceblue">
    <br />
<h2>Child Protection Scheme</h2>
</br>
<ul>
    <li>
        Child Protection Scheme Portal
    </li>
    <li>Scheme for Care and Support to Victims under Section 4 & 6 of the Protection of Children from Sexual Offences (POCSO) Act, 2012</li>
    <li>Notification of Components of Mission Vatsalya Scheme under section 7 of Aadhaar Act </li>
    <li>Standard Operating Procedures (SoPs) for Child Helpline Services under Mission Vatsalya Scheme</li>
</ul>

<p style="font-weight:bold">Memorandum Of Association & Bye-Laws Of Registered Societies</p>

<ul>
    <li>Model MoA & Bye Laws Developed by NIPCCD</li>
</ul>

<p style="font-weight:bold">Memorandum Of Understanding</p>

<ul>
    <li>Childline India Foundation</li>
    <li>Andaman & Nicobar Islands </li>
    <li>Andra Pradesh </li>
    <li>Assam</li>
    <li>Bihar</li>
    <li>Chandigarh</li>
    <li>Chatishgarh</li>
    <li>Delhi</li>
    <li>Goa</li>
    <li>Gujarat</li>
    <li>Haryana</li>
    <li>HimachalPradesh</li>
    <li>Jammu & Kashmir</li>
    <li>Jharkhand</li>
    <li>Karnataka</li>
    <li>Kerala</li>
    <li>Ladakh</li>
    <li>Lakshadweep</li>
    <li>MadhyaPradesh</li>
    <li>Maharastra</li>
    <li>Manipur</li>
    <li>Odisha</li>
    <li>Meghalaya</li>
    <li>Telangana</li>
    <li></li>
</ul>
</body>