@{
    ViewBag.Title = "STEP DashBoard ";
    Layout = "~/Views/Shared/STEPLayout.cshtml";
}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="height:70%; width:100%; margin:0 auto">
    <div class="carousel-inner" style="align-content:center">
        <div class="carousel-item active">
            <img src="~/Images/scroll container/sc1.jpeg" class="d-flex justify-content-center w-100 h-100" alt="sc1">
        </div>
        <div class="carousel-item">
            <img src="~/Images/scroll container/sc2.jpg" class="d-flex justify-content-center w-100 h-100" alt="sc2">
        </div>
        <div class="carousel-item">
            <img src="~/Images/scroll container/sc3.png" class="d-flex justify-content-center w-100 h-100" alt="sc3">
        </div>
        <div class="carousel-item">
            <img src="~/Images/scroll container/sc4.jpg" class="d-flex justify-content-center w-100 h-100" alt="sc4">
        </div>
        <div class="carousel-item">
            <img src="~/Images/scroll container/sc5.jpg" class="d-flex justify-content-center w-100 h-100" alt="sc5">
        </div>
        <div class="carousel-item">
            <img src="~/Images/scroll container/sc6.jpg" class="d-flex justify-content-center w-100 h-100" alt="sc6">
        </div>
        <div class="carousel-item">
            <img src="~/Images/scroll container/sc7.jpg" class="d-flex justify-content-center w-100 h-100" alt="sc7">
        </div>
        <div class="carousel-item">
            <img src="~/Images/scroll container/sc8.jpeg" class="d-flex justify-content-center w-100 h-100" alt="sc8">
        </div>
        <div class="carousel-item">
            <img src="~/Images/scroll container/sc9.jpeg" class="d-flex justify-content-center w-100 h-100" alt="sc9">
        </div>
    </div>
</div>