<body class="bg-light">
    <br />
    <h3 class="text-primary">Introduction</h3>
<p>
    Women constitute almost 50% of the world’s population but India has shown
    Disproportionate sex ratio whereby female’s population has been comparatively lower than
    males. As far as their social status is concerned, they are not treated as equal to men in all
    the places. In the Western societies, the women have got equal right and status with men in
    all walks of life. But gender disabilities and discriminations are found in India even today.
    The paradoxical situation has such that she was sometimes concerned as Goddess and at
    other times merely as slave. Women have the potential to change their own economic
    status, as well as that of the communities and countries in which they live. Yet more often
    than not, women’s economic contributions go unrecognized, their work undervalued and
    their promise unnourished. Unequal opportunities between women and men continue to hamper women’s ability to lift them from poverty and gain more options to improve their
    lives.
</p>
<p>
    Research shows that inequalities persist in the way paid and unpaid work is divided
    between women and men; in the fact that women remain the sole caregivers at home, and in
    their limited access to resources. What's more, these imbalances slow economic growth.
    Women’s economic empowerment – that is, their capacity to bring about economic change
    for themselves – is increasingly viewed as the most important contributing factor to
    achieving equality between women and men. But economically strengthening women – who
    are half the world’s workforce – is not only a means by which to spur economic growth, but
    also a matter of advancing women's human rights. When governments, businesses and
    communities invest in women, and when they work to eliminate inequalities, developing
    countries are less likely to be plagued by poverty.
</p>
    <h3 class="text-primary">Women in Tailoring </h3>
<p>
    Tailoring is an unorganized sector, plenty of people involved in tailoring. There are
    many different kinds of process involved in tailoring. In this sector the work participation of
    women were found more. Particularly the people from rural area were engaged themselves
    in tailoring. Naduvaikuruchi village of Puthiamputhur is a separate panchayat. It is located
    at Ootapidaram Taluk in Thoothukudi district. The Puthiamputhur is called as Kutty
    Japan, Thennagathin Tirupur and Readymade City. It second largest place in production of
    dresses in Tamilnadu. First place is for Thirupur. Now in this sector, plenty of women
    involves in tailoring in puthiamputhur.
</p>
    <h3 class="text-danger">Problem and Method</h3>
<p>
    In order to analyse the Empowerment of Women through Tailoring in
    Naduvaikuruchi village of Puthiamputhur Panchayat of Thoothukudi District, Tamilnadu.
    This study was carried out in Naduvaikuruchi village of Puthiamputhur panchayat of
    Thoothukudi District, Tamilnadu. The total population of this village is 518. Majority of
    them are involved in Tailoring. For the sake of feasibility, the researcher has decided to
    select 10% of the population. Simple random sampling technique has been adopted to select
    the sample respondents. A well structured interview schedule was used to elicit data with
    regard to problem.
</p>
</body>