@{
    ViewBag.Title = "NGOs Registartion ";
    Layout = "~/Views/Shared/NGOsLayout.cshtml";
}

<body style="background-color:aliceblue;padding:20px">
    <br />  
    <h4 >Abstract</h4>
    <p>
        The role of women in mainstream development is immense. The selfsustainable society is formed through women empowerment. The
        atrocities inflicted upon women are prevalent everywhere which needs
        to be tackled through an institutional process. The empowerment of
        women is located within a broad spectrum of gender equality which may
        be realized through a systemic approach. The preservation of rights
        of women is possible through an active participation of women. They
        may help in generating legal awareness and incapacitating women in
        their self-employment. Their role is very much visible in mobilization
        of internal and external resources. NGOs ensure political and economic
        independence for women through reducing inequality with men and
        thus putting advanced status for them. NGOs have been influential in
        shaping the current global policy framework on women’s empowerment
        and gender equality. The NGOs have also been spearheading the
        program of women entrepreneurship development so that economic
        freedom may be realized by them. Some of the NGOs have also worked
        on vocational activation program in order to increase their self-esteem,
        competence and freedom.
    </p>
    <h4>Introduction</h4>
    <p>
        Non-governmental organizations (NGOs) are independent entity
        away from government and business sector. They are intended to serve
        the public good rather than cater to individual interests. NGOs have been
        quite instrumental in improving people’s lives (Srivastava & Austin, no
        date, Binder-Aviles, no date). Most NGOs are founded by people who are passionate about their communities or causes (Binder-Aviles, no date).
        The democratic institutions are developed by NGOs to provide support to
        the poor and the marginalized communities. In this way, a lasting change
        may be brought for the community. The visioning sessions are organized
        by these institutions with assistance of community members where they
        share their future plans. One of the most significant contribution of NGOs
        may be seen in leadership building of people (Binder-Aviles, no date).
        People may be incapacitated through intervention of NGO to articulate for
        their future. With the assistance of NGO, trust is developed among people.
        The accountability of government can be set-up through intervention
        of NGO. They serve people with various kinds of disabilities. The social
        problems can be eradicated through an active involvement of NGO. The
        certain features of NGO sector like flexibility of work, cost-effectiveness,
        wider accessibility, response to emergency situations are very effective in
        facilitating development at the periphery level (Pattnaik and Panda, 2005).
        The collective actions are contributed by NGO. NGOs at the grassroots
        level employ different strategies for creating awareness among the target
        population after establishing a rapport with it. The NGOs play a very
        complementary role in mobilizing the community. The women are encouraged
        to be an active player in development by NGO. Due to intervention of NGO,
        the status of inequality is reduced and women are considered to be at par
        with men. The productivity of marginal women is enhanced through NGO
        (Hossain et al., 2017). Through an active intervention of NGOs, the women
        remain quite conscious throughout their development arena.
    </p>
    <h5>Obectives of Research:</h5>
    <ul>
        <li>
            To identify the role of Non-Governmental Organization in building
            awareness among women towards their legal rights.
        </li>
        <li>
            To highlight the approaches adopted by Non-Governmental
            Organization in strengthening the capacity of women entrepreneurs.
        </li>
        <li>
            y To find-out the way to reduce challenges in the way of women
            empowerment.
        </li>
    </ul>
    <h5>Methodology:</h5>
    <p>
        The study is based on descriptive research design. The Case study
        method has been utilized for collection of data. The Case study data has
        been analyzed based on categorical aggregation method. A sample of 2
        NGOs has been taken out of 10 NGOs in the area of women empowerment
        through purposive sampling technique. The criteria of inclusion of NGOs
        is their active involvement in the empowerment of women for the last 15
        years.
    </p>
    <h5>
        Strategy of NGO in empowerment of women:
    </h5>
    <p>
        Trategy of NGO in empowerment of women:
        The role of NGO has been very pivotal in empowering women through
        providing basic education, self-employment training, legal aid so that
        women may get strength to deal with various challenges. The capacity
        building of women in various sectors like legal aid, micro-credit program,
        health programs, voting behavior programs is done through various NGOs
        (Hossain et al., 2017). In contemporary societies, NGOs appear to dominate
        the field of introducing women empowerment. The formulation of policy is
        very much impacted by NGOs. The western donors may drive the policies
        for empowerment of women through active participation of NGO (Umer
        et al., 2016). NGOs have capability to transform power relations in order
        to organize masses (Umer et al., 2016). Non-Governmental Organization
        (NGO) has been working to provide an independent assessment of the impact
        of better access to family planning services on family planning practice and
        on empowerment (Umer et al., 2016). The political consciousness is spread
        among women through different types of programs launched by NGO
        (Biswas and Rao, 2014, Hossain et al., 2017). It also improves their skills,
        knowledge and support networks as well as enhancing their status in the
        community. Increasing women’s access to microfinance has led to social and
        political empowerment (Biswas and Rao, 2014). One of the steps of bringing
        gender inequality down is through measures of poverty alleviation (Biswas
        and Rao, 2014, Kumari, 2019). To meet their unmet needs, NGOs convinced
        women to adopt empowerment. They are very adept in facilitating political
        awareness of women. The accessibility of poor rural women to educational
        opportunities equips them to enjoy economic empowerment (Hossain et
        al., 2017). The microfinance is considered to be a significant milestone in
        the area of financial empowerment of women because of accessibility of
        credit to poor rural women (Biswas and Rao, 2014, https://www.scribd.com/
        document/104252878/A-Study-on-Microfinance-Sector-in-Karnataka).
    </p>


</body>