@{
    ViewBag.Title = "NGOs Registartion ";
    Layout = "~/Views/Shared/NGOsLayout.cshtml";
}




<body style="background-color:aliceblue;padding:20px" >

    <br />
    <h3>A list of 20 Foundations Supporting Women Empowerment Projects</h3>
    <p>360,000 Women die during pregnancy and childbirth; 14 million adolescent girls become mothers every year. Women represent nearly two thirds of the world’s illiterate, 31 million girls are still out of school around the world, The completion rates and learning levels of girls are lower than those of boys, Participation of girls in school decreases as they progress through the education system, Too many girls in developing countries are still shut out of school, denying them their fundamental right to education.</p>
    <p>More educated women tend to be healthier, work and earn more income, have fewer children, and provide better health care and education to their children. Girls’ education literally saves millions of lives, according to UNICEF.</p>
    <p>As there are thousands of non-government organizations focusing on Women and Girls, there are hundreds of donor organizations supporting the projects for improving the lives of women and girls and securing their human rights for a better world free of discrimination and towards the end to poverty and hunger. Here is a list of 20 Donors supporting the causes for women.</p>

    <h5>Urgent Action Fund for Women’s Human Rights</h5>
    <p>Urgent Action Fund for Women’s Human Rights is a global women’s fund that protects, strengthens and sustains women and transgender human rights defenders at critical moments. The fund supports Women Human Rights defenders throughout the world. Mission of the fund is to support women’s human rights defenders striving to create cultures of justice, equality and peace. For the purpose, UAF partners with women’s movements worldwide.</p>
    <p>Urgent Action Fund builds the resilience of women’s rights and LGBT rights movements in three ways:</p>
    <ol>
        <li>Rapid Response Grant-making – Award rapid response grants to women and transgender human rights defenders in Asia, the Middle East, Central and Eastern Europe, and North America. Activists can apply for grants of up to $5000.</li>
        <li>Advocacy & Alliance-Building – Advocate for women and transgender human rights defenders.</li>
        <li>Global Consortium of Urgent Action Funds – Together with Urgent Action Fund-Africa and Urgent Action Fund-Latin America, the Urgent Action Fund for Women’s Human Rights support women and girls’ activism globally.</li>
       
    </ol>

</body>
