

@{
    ViewBag.Title = "NGOs Registartion ";
    Layout = "~/Views/Shared/NGOsLayout.cshtml";
}


<style>
    #i1 ,#i2, #i3 ,#i4 ,#i5{
        color:red;
        text-decoration:underline;
    }
</style>

<body style="background-color:aliceblue;padding:20px">
    <br />
    <h4>Which NGO helps women in India?</h4>
    <p>Here’s a list of top NGOs for women empowerment in India. This ‘NGO for Women Empowerment’ includes NGOs working for women empwerment making them financially, emotionally and mentailly stronger.</p>
    <ol>
        <li id="i1">
            SEWA</li>
            <li>
            <p>The Self-Employed Women’s Association (SEWA) was set up in the year 1972 by Ela Bhatt in Gujarat. It is now working on a global level in order to make women stronger by making them financially independent. They also work for women workers’ rights and try to launch demonstrations in a non-violent way. They have expanded their organizations as SEWA bank, SEWA movement, and SEWA Bharat.</p>
            <p>Phone: +91-11-2584-1369</p>
            <p>Fax: +91-11-2584-0937</p>
            <p>Email: mail@sewabharat.org</p>
        </li>
        <li id="i2">
            Snehalaya</li>
        <li>
            <p>It was set up in 1989, in Ahmednagar, Maharashtra. Snehalaya focuses on empowering women, children as well as LGBT communities. It also empowers commercial sex workers, and women fighting HIV and AIDS, and is also trying to put an end to human trafficking. Producing sanitary pads, and encouraging women to produce and sell their art are their main projects.</p>
            <p>Email: info@snehalaya.org</p>
            <p>Phone: +91 241 2778353</p>
        </li>
        <li id="i3">
            NEN (North East Network)</li>
        <li>
            <p>NEN was established as a part of the Beijing World Conference on Women, in the year 1995. It works towards the removal of gender injustice, incorporating equality and respect for human rights. This organization works in Assam, Meghalaya, Nagaland, and other parts of North East India.</p>
            <p>Tel: +91 9435017824</p>
            <p>Email: assam@northeastnetwork.org</p>
        </li>
        <li id="i4">
            Azad Foundation</li>
        <li>
            <p>One of the NGOs working for women’s empowerment is the Azad Foundation. It works for those urban women who are facing any sort of abuse and are poor. It helps them lead a dignified and independent life. They provide women with a six-month program that includes self-awareness, defense training, sexuality, and reproductive rights, etc. They recently collaborated with Sakha, i.e. a cab service with women drivers.</p>
            <p>Tel: +91 11 4060 1878</p>
            <p>Email: azadfoundation@gmail.com</p>
        </li>
        <li id="i5">
             CREA</li>
              <li>
            <p>It was established in the year 2000, in New Delhi. CREA is a feminist human rights organization. It helps women boost their self-confidence, makes them aware of sexuality, and enhances their leadership quality in them. CREA is now a part of the International Women’s Organization in the South.</p>
            <p>Tel: 91 11 2437 7707/ 91 11 2437 8700/ 91 11 2437 8701 </p>
            <p>Email: crea@creaworld.org</p>
        </li>
       
    </ol>




</body>