

<body style="background-color:aliceblue;padding:20px">
    <br />

    <h4>Strategic Women Empowerment Panel Questions:</h4>
    <ol>
        <li>Define women’s empowerment and equality – and what’s the difference?</li>
        <li>Is the lack of empowerment an equality issue or an equity issue?</li>
        <li>What is the change that is wanted? What would success look like?</li>
        <li>What institutional and societal changes need to be made for women to be empowered?</li>
        <li>What legal frameworks exist that may enable or inhibit gender equality and women’s empowerment?</li>
        <li>What rights do women lack? Where are the barriers that are locking them out of the economic system?</li>
    </ol>
    <ol>
        <h4>Benefits/Consequences:</h4>
        <li>What are the benefits of having empowered women in the organization?</li>
        <li>What do you think is the most significant barrier to female empowerment?</li>
        <li>What are some of your personal experiences (or reasons) that motivated you to think/care about women’s empowerment?</li>
        <li>How can we calculate the positive impacts of having empowered women in the organization?</li>
        <li>Are there existing national indicators that could be used or adapted?</li>
        <li>What information already exists, or is being collected, that can assist in tracking changes?</li>
        <li>How can small changes be measured?</li>
    </ol>
</body>
