<style>
    td:hover{
     cursor:pointer;
        
    }
</style>

<body style="padding:20px;background-color:aliceblue">
    <br />
<h3>Women Legislations</h3>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Dowry Prohibition Act, 1961</td>
        <td>Details</td>
    </tr>
    <tr>
        <td>The Immoral Traffic (Prevention) Act, 1956</td>
        <td>Details</td>
    </tr>
    <tr>
        <td>Rules under The Dowry Prohibition Act, 1961</td>
        <td>Details</td>
    </tr>
    <tr>
        <td>Rules under the Indecent Representation of Women (Prohibition) Act, 1986</td>
        <td>Details</td>
    </tr>
    <tr>
        <td>The Commission of Sati (Prevention) Act, 1987</td>
        <td>Details</td>
    </tr>
    <tr>
        <td>The National Commission for Women Act, 1990</td>
        <td>Details</td>
    </tr>
    <tr>
        <td>The Protection of Women from Domestic Violence Act, 2005</td>
        <td>Details</td>

    </tr>
    <tr>
        <td>State/UT Rules framed under the Prohibition of Child Marriage Act, 2006</td>
        <td>Details</td>

    </tr>
    <tr>
        <td>The Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013</td>
        <td>Details</td>

    </tr>
</table>
</body>